[project]
	description = "ITK is an open-source, cross-platform system that provides developers with an extensive suite of software tools for image analysis.  Developed through extreme programming methodologies, ITK employs leading-edge algorithms for registering and segmenting multidimensional data."
[access]
	inheritFrom = open
[submit]
	action = merge always
[access "refs/*"]
	owner = group ITK-admin
	read = group ITK-GitHub
	read = group ITK-contrib
	forgeAuthor = group ITK-core
	forgeAuthor = group ITK-robot
	forgeCommitter = group ITK-core
	forgeCommitter = group ITK-robot
[access "refs/data/commits/*"]
	create = group ITK-core
	create = group ITK-robot
	create = group Registered Users
	push = group ITK-core
	push = +force group ITK-robot
	push = group Registered Users
[access "refs/for/refs/*"]
	push = group ITK-contrib
	pushMerge = group ITK-contrib
[access "refs/heads/*"]
	push = group ITK-robot
	label-Code-Review = -2..+2 group ITK-contrib
	label-Code-Review = -2..+2 group ITK-core
	label-Verified = -1..+1 group ITK-core
	label-Verified = -1..+1 group Registered Users
